DATABASE_URL="postgresql://postgres:postgres@localhost:5432/vaastratrendz"
TOGETHER_API_KEY=tgp_v1_....
# CHROMA_URL=http://localhost:8000
# CHROMA_COLLECTION_NAME=support-policies
GROQ_API_KEY = gsk_....
PINECONE_API_KEY="pcsk_....
PINECONE_INDEX_NAME="support-policies"
# AWS DynamoDB (for support tickets)
AWS_REGION_1=us-east-1
AWS_ACCESS_KEY_1=your_aws_access_key
AWS_SECRET_KEY_1=your_aws_secret_key
DYNAMODB_TABLE_NAME=support-tickets